<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="productName" placeholder="Enter product name">
            <input type="text" name="price" placeholder="Enter price">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Product List</div>
    <form method="post" action="filter">
        <input type="text" name="productName">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Search</button>
    </form>
    {{#products}}
    <div>
        <b>{{productId}}</b>
        <span>{{productName}}</span>
        <b>{{price}}</b>
        <strong>{{ownerName}}</strong>
    </div>
    {{/products}}
</body>
</html>